<div class="container-fluid">
    <h1>For Sale</h1>

    <div id="carouselForSaleControls" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let estates of listOfEstates let i = index" [ngClass]="{'active': i === 1}">
                <div class="cards-wrapper">
                    <div class="card" *ngFor="let estate of getEstateDetails()">
                        <img src="{{getEstateMap(estate.estateId)}}" class="card-img-top" alt="estateImg">
                        <div class="card-body">
                            <h3 class="card-title">Estate ID: {{estate.estateId}}</h3>
                            <p class="card-subtitle"><b>Estate Name:</b> </p>
                            <p class="card-subtitle"><b>{{estate.name}}</b> </p>
                            <p class="card-text">
                                <b>Owner:</b> {{estate.owner}} <br>
                                <!--<b>Token:</b> {{estate.tokenId}} <br>-->
                                <b>Price:</b> {{estate.price}}<br>
                                <b>Updated Date:</b> {{estate.updatedAt}}
                            </p>
                        </div>
                        <a routerLink="estate/{{estate.estateId}}" class="btn btn-primary">View Parcels</a>
                    </div>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselForSaleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselForSaleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>