.container-fluid{
   /* background-color: black; */
    padding: 60px;
}
.tweet-cards-wrappers{
    display: inline-flex;
    justify-content: center;
    /*background-color:blue;*/
    /*background-image: url('https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2012/06/06/47707665-twitter-bird-white-on-blue.1910x1000.jpg');*/
}

.card{
    width: 50%;
}

.twitter-heading{
    color: #ffffff;
    padding-left: 20px;
    padding-bottom: 20px;
}

.card-body{
    box-shadow: #003554;
   /* background-color: #1b3a4b;*/
}