/* You can add global styles to this file, and also import other style files */
h3 {
    text-align: center;
}

.horizontalContainer {
    orientation: landscape;
    display:flex;
    max-height: 310px;
    overflow-x: scroll;
}

.col-xs-3 {
    display:flex;
    flex: 0 0 25%;
    max-width: 25%;
}

.well {
    min-height: 300px;
    width: 100%;
}

.popular-metaverses{
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
}