<div class="container-fluid">
    <h2>Metaverses</h2>
    <div class="horizontalContainer">
        <div class="col-xs-3">
            <div class="well">
                <h3>Decentraland</h3>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="well">
                <h3>Sandbox</h3>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="well">
                <h3>Cryptovox</h3>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="well">
                <h3>Axie Infitiy</h3>
            </div>
        </div>
    </div>
</div>